<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevSeb</title>
</head>
<body>
    <h1>Menu principal - Detalle</h1>
    <p><a href="/sesiones/home">Home</a></p>
    <p><a href="/sesiones/detalle">Detalle</a></p>
    <p><a href="/sesiones/salir">Salir</a></p>
    <p>Bienvenido <%=usuario%></p>
</body>
</html>