<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ejemplo</title>
</head>
<body>
  <h1>Actualizar Tareas</h1>

  <form action="/actualizar-tarea" method="POST">
    <p>
    <label for="descripcion">Nueva Tarea: </label>
    <input type="hidden" name="id" value="<%=tarea.id%>">
    <input type="text" name="descripcion" value="<%=tarea.descripcion%>">
    <button type="submit">Actualizar</button>
    </p>
  </form>

</body>
</html>