<section class="container my-3">
  <article class="row border-bottom mb-3">
    <h1 class="col-12">ACERCA DE</h1>
  </article>
  <article class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <h3 class="col-12">Encuentra las imagenes que mas te gusten</h3>
  </article>
</section>
