<section class="container my-3">
  <article class="row border-bottom mb-3">
    <h1 class="col-12">INICIO</h1>
  </article>
  <article class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <h3 class="col-12">Encuentra las imagenes que mas te gusten</h3>
    <div class="col">
      <div class="shadow mb-5 bg-body rounded">
        <img src="/images/img1.jpg" class="w-100" width="300" height="200" alt="...">
        <div class="row mt-2 p-3">
          <h4>Chica desconocida</h4>
          <p><small>ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis repudiandae, accusantium optio libero esse vitae cupiditate architecto voluptatem adipisci itaque at commodi explicabo quisquam molestias, saepe, delectus expedita incidunt a.</small></p>
          <h5 class="col-7">$3500</h5>
          <div class="col-12 text-center">
            <button type="button" class="btn btn-secondary">Lo deseo</button>
            <button type="button" class="btn btn-success">Agregar al carrito</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="shadow mb-5 bg-body rounded">
        <img src="/images/img2.jpg" class="w-100" width="300" height="200" alt="...">
        <div class="row mt-2 p-3">
          <h4>Chica desconocida</h4>
          <p><small>ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis repudiandae, accusantium optio libero esse vitae cupiditate architecto voluptatem adipisci itaque at commodi explicabo quisquam molestias, saepe, delectus expedita incidunt a.</small></p>
          <h5 class="col-7">$3500</h5>
          <div class="col-12 text-center">
            <button type="button" class="btn btn-secondary">Lo deseo</button>
            <button type="button" class="btn btn-success">Agregar al carrito</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="shadow mb-5 bg-body rounded">
        <img src="/images/img3.jpg" class="w-100" width="300" height="200" alt="...">
        <div class="row mt-2 p-3">
          <h4>Chica desconocida</h4>
          <p><small>ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis repudiandae, accusantium optio libero esse vitae cupiditate architecto voluptatem adipisci itaque at commodi explicabo quisquam molestias, saepe, delectus expedita incidunt a.</small></p>
          <h5 class="col-7">$3500</h5>
          <div class="col-12 text-center">
            <button type="button" class="btn btn-secondary">Lo deseo</button>
            <button type="button" class="btn btn-success">Agregar al carrito</button>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>