<section class="container my-3">
    <article class="row border-bottom mb-3">
        <h1 class="col-12">Registro</h1>
    </article>
    <% flash.get('mensaje').forEach( function (msg){%>
        <div class="alert alert-danger" role="alert">
            <%=msg%>
        </div>
    <% }); %>
    <article class="row">
      <form class="row" method="post" action="/procesar-registro">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre: </label>
          <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="mb-3">
          <label for="correo" class="form-label">Correo: </label>
          <input type="email" class="form-control" id="correo" name="correo">
        </div>
        <div class="mb-3">
          <label for="clave" class="form-label">Contraseña: </label>
          <input type="password" class="form-control" id="clave" name="clave">
        </div>
        <div class="text-center">
         <button type="submit" class="btn btn-primary">Continuar</button>
        </div>
      </form>
    </article>
</section>