<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pruebas</title>
</head>
<body>
    <h1>Acerca de</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore vero non inventore quasi et placeat excepturi, modi vitae error deleniti hic eos laborum nulla, explicabo recusandae repellendus corporis numquam tenetur.</p>
</body>
</html>